[submodule "lib/rapidjson"]
	path = lib/rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "make-utils"]
	path = make-utils
	url = https://github.com/wichtounet/make-utils.git
	branch = master
